.container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
}


.color-picker-container {
    text-align: center;
}



.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
}